[Desktop Entry]
Name=SentinX Dock
GenericName[de]=Dock
GenericName=Dock
Comment=AI-First dock for SentinX OS
Categories=Utility;
Type=Application
Exec=sentinx-dock
Icon=sentinx-dock
Terminal=false
NoDisplay=false
